doctype html
html(lang="en")
  head
    title MSAH
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/ico" href="img/favicon.ico")
    link(rel="stylesheet" href="libs/foundation/css/foundation.min.css")
    link(rel="stylesheet" href="libs/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/index.min.css")
  body
    div.row
      div.medium-4.columns
        div.card
          div.image
            img(src="http://dummyimage.com/350x250/EA7B67/ea7b67.png")
            span.title WANTit
          div.content
            p Landing page and web app
          div.action
            a(href="/wantit") Enter
      div.medium-4.columns
        div.card
          div.image
            img(src="http://dummyimage.com/350x250/F5CB5C/f5cc5c.png")
            span.title IBC
          div.content
            p Map, dashboard and workers
          div.action
            a(href="/ibc") Enter