extends ./layouts/base.jade

append head
  link(rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css")
  link(rel="stylesheet" href="libs/fontawesome/css/font-awesome.min.css")
  title WANTit
  style.
    html, body {
      width: 100%;
      height: 100%;
    }

block header
  div.container.header
    div.page-header.text-center
      h1
        span.fa.fa-info-circle
        |  Cookie Policy

block content
  div.container
    div.row
      div.col-sm-6.col-sm-offset-3
        div.well.text-center
          h3 Cookie Policy Placeholder
          p Labore Lorem do non sint irure aliqua cupidatat sint. Duis incididunt quis excepteur reprehenderit sunt esse in sunt sit dolore qui dolor duis. Veniam laborum est ex eu amet ipsum elit ad qui deserunt elit proident irure. Commodo labore deserunt et aute aliqua occaecat reprehenderit cupidatat. Ipsum consectetur qui eu esse veniam id tempor quis pariatur anim duis. Laboris duis veniam id magna culpa dolor nulla sunt qui tempor.