extends ./layouts/base.jade

append head
  title WANTit

block header
  +header('margin-bottom')

block content
  div.row.align-center
    div.small-10.large-6.column
      h3
        span.fa.fa-user
        |  Profile
      p
        strong id
        | : #{user.id}
        br
        strong email
        | : #{user.email}
        br
        strong token
        | : #{user.token}