extends ./layouts/base.jade

append head
  title WANTit
  link(rel="stylesheet" href="/css/dashboard.min.css")

block header
  +header('margin-bottom')

block content
  div.container
    div.row
      p Hello, world!