extends ./layouts/base.jade

append head
  title WANTit
  link(rel="stylesheet" href="#{prefix}/css/error.min.css")

block content
  div(style="height: 100vh").row.align-center.align-middle
    div.small-10.large-10.column.text-center
      h1
        span.fa.fa-exclamation-triangle
        |  #{statusCode} #{error}
      h3 Oops, sorry we can't find that page
      p Either something went wrong or the page doesn't exist