extends ./layouts/base.jade

append head
  title MSAH
  link(rel="stylesheet" href="css/index.min.css")

block content
  div.row
    div.medium-4.columns
      div.card
        div.image
          img(src="http://dummyimage.com/350x250/EA7B67/ea7b67.png")
          span.title WANTit
        div.content
          p Landing page and web app
        div.action
          a(href="https://msahtest2.xyz") Enter
    div.medium-4.columns
      div.card
        div.image
          img(src="http://dummyimage.com/350x250/F5CB5C/f5cc5c.png")
          span.title IBC
        div.content
          p Map, dashboard and workers
        div.action
          a(href="https://msahtest3.xyz") Enter